@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "bootswatch";

body {
  padding-top: 50px;
}

table {
  @extend .table;
  @extend .table-striped;
  margin-bottom: 0;
  font-size: 11px;
  // > thead,
  // > tbody,
  // > tfoot {
  //   > tr {
  //     > th,
  //     > td {
  //       padding: 3px;
  //       border-right: solid 1px #ddd;
  //       &:last-child {
  //         border-right: none;
  //       }
  //     }
  //   }
  // }
}

/* forms */

.simple_form {
  @extend .form-horizontal;
  @extend .well;
  @extend .col-lg-8;
}
