%h1 Listing teams

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @teams.each do |team|
      %tr
        %td= link_to 'Show', [:admin, team]
        %td= link_to 'Edit', admin_edit_team_path(team)
        %td= link_to 'Destroy', [:admin, team], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Team', new_admin_team_path
